.snow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.flake {
    position: absolute;
    font-size: 3rem;
    color: #fff;
    animation: fall linear forwards;
    filter: blur(1rem);
}

@keyframes fall {
    from {
        transform: translateX(-5vw) translateY(-5vh);
    }to {
        transform: translateX(-110vw) translateY(110vh);
    }
}