*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body{
    background-color: rgb(245,245,245);
    font-size: 62.5%;
}

.perfil-descricao{
    display: flex;
    background-color: #ccc;
    padding: 8px;
    align-items: center;
}

.img-perfil{
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5%;
}

.descricao-perfil{
    list-style-type: none;
    line-height: 150%;
    font-size: 17px;
    padding-left: 40px;
}

section.feed{
    padding: 20px 0;
    text-align: center;
}

.line-marcacao{
    display: none;
    position: absolute;
    width: 104px;
    height: 3px;
    background: black;
    top: -10px;
}

.line-feed{
    border-top: 1px solid #ccc;
}

.single-line-name{
    text-transform: uppercase;
    margin: 10px 10px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.center {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    padding: 5px;
}

.card {
    background-color: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    border-radius: 5px;
}
a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    
}

.publicacao-single {
    width: 97%;
    height: 97%;
    border-radius: 5px;
}

@media screen and (min-width: 1280px) {
    body{
        background-color: rgb(245,245,245);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        max-width: 40%;
        height: 100vh;
    }
}



/* popup */


/* .container-info{
    position: absolute;
    z-index: 1;
    left: 30;
    top: 30;
    width: 800px;
    height: 800px;
    overflow: auto;
    background-color: blueviolet;
}

.info{
    background-color: #fff;
    margin: 30px;
    padding: 20px;
    border-radius: 4px;
    width: 70%;
} */

#blur.activate{
    filter: blur(20px);
}

hr{
    width: 105%;
    border-color: #000;
}
#info{
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 90%;
    padding: 50px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
    display: none; 
}
#info img{
    height: 40vh;
    width: 40vh;
}

#info h2, #info p{
    color: #000;
    text-align: center;
    font-size: 30px;
    padding: 30px;
}
#info a{
    color: #fff;
    text-decoration: none;
    text-align: right;
}


#info.activate{
    bottom: 50%;
    opacity: 1;
    visibility: visible;
    transition: 1s;
    height: 80%;
    width: 70%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    
}

.container-info{
    position: fixed;
    height: 30vh;
    width: 50vh;
}
.container-info.activate{
    opacity: 1;
}

#info #sair{
    font-size: 28px;
    font-weight: bold;
    border-radius: 12px;
    width: 20%;
    cursor: pointer;
}


@media screen and (max-width: 1280px){
    .foto{
        width: 35vh;
        height: 35vh;
    }
}
@media screen and (max-width: 800px){
    .foto{
        width: 10vh;
        height: 20vh;
    }
}