*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body{
    background-color: rgb(245,245,245);
}

.perfil-descricao{
    display: flex;
    background-color: #ccc;
    padding: 8px;
    align-items: center;
}

.img-perfil{
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5%;
}

.descricao-perfil{
    list-style-type: none;
    line-height: 150%;
    font-size: 17px;
    padding-left: 40px;
}

section.feed{
    padding: 20px 0;
    text-align: center;
}

.line-marcacao{
    display: none;
    position: absolute;
    width: 104px;
    height: 3px;
    background: black;
    top: -10px;
}

.line-feed{
    border-top: 1px solid #ccc;
}

.single-line-name{
    text-transform: uppercase;
    margin: 10px 10px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.center {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    padding: 5px;
}

.card {
    background-color: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publicacao-single {
    width: 66.6%;
}




/* popup */

#blur.activate{
    filter: blur(10px);
    pointer-events: none; 
    user-select: none;
}

#info{
    background-color: #909090;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 300px;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#info img{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info h2, #info p{
    color: #000;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    line-height: 150%;
    font-size: 17px;
    padding-left: 40px;
}
#info a{
    color: #fff;
    text-decoration: none;
    text-align: right;
}


#info.activate{
    bottom: 50%;
    opacity: 1;
    visibility: visible;
    transition: 1s;
    height: 430px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
